  .main_body{
    top: 0;
    left: 0;
    right: 0;
    margin: 20px 20px;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    text-align : center ;
  }
  
  .main_body_title{
    text-align: initial;
  }

  .main_body_search{
    top: 0;
    left: 0;
    right: 0;
    margin: 15px 20px;
    padding: 15px 40px;
    background-color: #f6f8f9;
    border-radius: 10px;
  }
  
  .main_body_search--button{
      margin-left: 30px;
  }

  .main_body_card{
    top: 0;
    left: 0;
    right: 0;
    width: 40.9%;
    height: 200px;
    margin: 15px 20px;
    background-color: #f6f8f9;
    border-radius: 10px;
    display: inline-block;
  }

  .main_body_card--title{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: #999999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_body_table{
    display: inline-block;
  }

  .main_body_calendar{
      margin-top: 200px;
  }