.header {
  top: 0;
  left: 0;
  right: 0;
  margin: 15px 20px;
  padding: 15px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
  .header_icon {
    color: rgb(170, 1, 1);
  }
  
  .header_title {
    font-size: 25px;
    color: rgb(70, 70, 70);
    font-weight: bold;
    margin-left: 10px;
  }
  .header_menu{
    margin-left: auto;
    list-style: none;
  }

  .header_menu li{
    display: inline-block;
    font-size: 25px;
    color: rgb(70, 70, 70);
    font-weight: bold;
    margin-left: 30px;
  }